@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap');

html {
    margin-top: 0 !important;
}

.bg-peach {
    background-color: #F68459;
}

.bg-grey {
    background-color: #163E3A !important;
}

.text-grey {
    color: #163E3A;
}

.text-pink {
    color: #F68459 !important;
}

.main-text{
    font-size:14px;
    font-family: 'Montserrat';
    line-height: 2;
}

#menu-menu-principal {
    width: 100%;
}

.banner-size {
    width:450px;
}

.banner-text-up {
    font-size: 18px;
}

.banner-text-down {
    font-size: 30px;
}

.scroll-downs {
    position: absolute;
    top: 540px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 0px 7px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

.story-flower{
    width:100px;
}

.map {
    height: 250px;
}